{% extends 'base.html' %}
{% load static %}
<head>
    <title></title>
</head>
{% block content %}
    {% if category %}
        <h2 class="text-center">Товары в категории: {{ category_object.name }}</h2>

        {% for staff in category %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ staff.photo.url }}" alt="{{ staff.name }}">
                    <div class="caption">
                        <h3>{{ staff.name }}</h3>
                        <p>{{ staff.description }}</p>
                        <h4>Всего: {{ staff.price }} рублей</h4>
                        <p><a href="{% url 'store:detail' staff.id %}" class="btn btn-primary"
                              role="button">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2 class="text-center">Нет товаров в данной категории</h2>
    {% endif %}
{% endblock content %}
