{% extends 'base.html' %}
{% load static %}
<head>
    <title></title>
</head>
{% block content %}
    {% for comment in comment %}
        <div class="col-md-8 col-md-offset-2">
            <form action="{% url 'store:edit_comment' comment.id %}" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="save btn btn-default">Изменить комментарий</button>
            </form>
        </div>
    {% endfor %}
{% endblock content %}
