{% extends 'base.html' %}
{% load static %}
<head>
    <title></title>
</head>
{% block content %}
    <h1 class="text-center">Мои комментарии</h1>
    {% if comments %}
        {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Товар: <b>{{ comment.staff.name }}</b></h3>
                    <h3 class="panel-title">{{ comment.time_added }}</h3>
                    <h4 class="panel-title"><a href="{% url 'store:edit_comment_page'  comment.id%}">Изменить</a> || <a href="{% url 'store:delete_comment'  comment.id%}">Удалить</a></h4>
                </div>
                <div class="panel-body">
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>У вас нет комментариев</h2>
    {% endif %}
{% endblock content %}
